.home-page {
  .am-list-thumb {
    img {
      width: 88px;
      height: 66px;
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

    .am-list-item {
      padding: 12px 0 12px;
      margin-left: 12px;
      border-bottom: .5px solid #e7e7e7;

      &:nth-child(1) .am-list-line::after {
        background-color: #fff !important
      }
    }
  }

  .am-list-item:last-child {
    margin-left: 0;
    padding-left: 12px;
  }
}